<ion-view view-title="Browse your positions, {{name}}">
  <ion-content>
    <div class="card">
      <ul class="list">
        <li class="item">
          <label class="item item-input">
            <span class="input-label">Longitude</span>
            <input type="text" ng-model="queryPosition.longitude">
          </label>
          <label class="item item-input">
            <span class="input-label">Latitude</span>
            <input type="text" ng-model="queryPosition.latitude">
          </label>
          <label class="item item-input">
            <span class="input-label">Radius</span>
            <input type="text" ng-model="queryPosition.radius">
          </label>
          <div class="padding">
              <button class="button button-block button-calm" ng-click="searchQuery(queryPosition)">
                Change query
              </button>
          </div>
        </li>
      </ul>
    </div>
    <ion-list id="log">
        <ion-item ng-repeat="position in searchResults" id="position{{position.key}}">
                Key: {{position.key}} with position [{{position.l[0]}},{{position.l[1]}}]
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
